<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% block content %}
{% if latest_questionnaire_list%}
    <ul>
    {% for questionnaire in latest_questionnaire_list %}
        <li><a href="{% url 'question_app:detail' questionnaire.id %}">{{ questionnaire.questionnaire_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questionnaires are available.</p>

{% endif %}
{% endblock content %}
</body>
</html>